<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <php outputFile="./build/cov/clover.xml"/>
    </report>
  </coverage>
  <logging/>
  <testsuites>
    <testsuite name="Cashback">
      <file> tests/CashbackTest.php</file>
    </testsuite>
    <testsuite name="Core Classes">
      <file> tests/CoreClassesTest.php</file>
    </testsuite>
    <testsuite name="Payloads">
      <file> tests/PayloadsTest.php</file>
    </testsuite>
    <testsuite name="Resolve">
      <file> tests/ResolveTest.php</file>
    </testsuite>
    <testsuite name="QR Code">
      <file> tests/QrTest.php</file>
    </testsuite>
    <testsuite name="Payments">
      <file> tests/PaymentTest.php</file>
      <file> tests/PreAuthTest.php</file>
      <file> tests/PendingPaymentTest.php</file>
      <file> tests/ContinuousPaymentTest.php</file>
      <file> tests/RefundTest.php</file>
    </testsuite>
    <testsuite name="User">
      <file>tests/PipelinedAccountLinkTest.php</file>
      <file> tests/UserTest.php</file>
      <file> tests/WalletTest.php </file>
      <file> tests/DecodeAccountLinkResponseTest.php </file>
    </testsuite>
    <testsuite name="Housekeeping">
      <file> tests/ZCleanupTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
