<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
    <logging>
        <log type="coverage-php" target="./build/cov/clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="QR Code">
            <file> tests/QrTest.php</file>
            
        </testsuite>
        <testsuite name="Payments">
            <file> tests/PaymentTest.php</file>
            <file> tests/PreAuthTest.php</file>
            <file> tests/RefundTest.php</file>
        </testsuite>
        <testsuite name="User">
            <file> tests/UserTest.php</file>
            <file> tests/WalletTest.php </file>
        </testsuite>
        <testsuite name="Housekeeping">
            <file> tests/ZCleanupTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
