<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <testsuites>
        <testsuite name="All Tests">
            <file> tests/QrTest.php</file>
            <file> tests/PaymentTest.php</file>
            <file> tests/RefundTest.php</file>
            <file> tests/UserTest.php</file>
            <file> tests/WalletTest.php </file>
            <file> tests/ZCleanupTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
